// Variabes

// Color
$white: 						#eeeeee !default;
$base:							#363636 !default;
$pink:							#edc9f5 !default;
$light:							#689aaa !default;

// Type
$baseFontFamily: 		'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$baseFontSize: 			1em !default;
$baseLineHeight:		1.6em !default;

// Layout
$globalWidth:  			960px !default;
$pad:  							20px !default;

// Breakpoints
$high-tide: 				52.750em !default;
$mid-tide: 				40.938em !default;
$low-tide: 				max-width 31.250em !default;